[Unit]
Description=SoftEther VPN Server
After=network.target
 
[Service]
Type=forking
ExecStart={{ vpnserver_root }}/vpnserver/vpnserver start
ExecStop={{ vpnserver_root }}/vpnserver/vpnserver stop
 
[Install]
WantedBy=multi-user.target
