---
- name: disable nouveau driver
  become: yes
  ansible.builtin.copy:
    src: blacklist-nouveau.conf
    dest: /etc/modprobe.d/blacklist-nouveau.conf

- name: update initramfs
  become: yes
  ansible.builtin.command: "update-initramfs -u"


- name: install cuda on various os
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  with_first_found:
    # - "cuda-{{ ansible_lsb.id }}.yml"
    - "cuda-{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
    - "cuda-{{ ansible_distribution }}.yml"
  ignore_errors: true


- name: disable graphical
  become: yes
  command: "systemctl set-default multi-user"
  when:
    - disable_graphical

