pe_name            openmpi
slots              999
user_lists         NONE
xuser_lists        NONE
start_proc_args    /usr/local/bin/gridengine-get-hostfile.py -o $pe_hostfile \
                   /tmp/hostfile.$job_id
stop_proc_args     /bin/true
allocation_rule    $fill_up
control_slaves     TRUE
job_is_first_task  TRUE
urgency_slots      min
accounting_summary FALSE
