apiVersion: 1

groups:
  - orgId: 1
    name: "{{ plg_monitoring_cluster_name }} Log Events"
    folder: "Alerts"
    interval: 1m
    rules:
      - uid: "{{ plg_monitoring_cluster_name | lower }}-oom-killer-detected"
        title: "OOM Killer Detected ({{ plg_monitoring_cluster_name }})"
        condition: "B"
        data:
          - refId: "A"
            queryType: "range"
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: "Loki"
            model:
              editorMode: "code"
              expr: "sum by (host) (count_over_time({job=~\"systemd-journal|varlogs\"} |~ \"(?i)Out of memory: Killed process|oom_reaper|invoked oom-killer\" [5m]))"
              instant: true
              range: false
              refId: "A"
          - refId: "B"
            datasourceUid: "-100"
            model:
              conditions:
                - evaluator:
                    params: [0]
                    type: "gt"
                  operator:
                    type: "and"
                  query:
                    params: ["A"]
                  reducer:
                    params: []
                    type: "last"
                  type: "query"
              datasource:
                name: "Expression"
                type: "__expr__"
                uid: "__expr__"
              expression: "A"
              refId: "B"
              type: "threshold"
        noDataState: "OK"
        execErrState: "Alerting"
        for: "0m"
        labels:
          severity: "critical"
          cluster: "{{ plg_monitoring_cluster_name }}"
        annotations:
          summary: "OOM Killer invoked on {{ '{{' }} $labels.host {{ '}}' }}"
          description: "Out Of Memory (OOM) killer has terminated one or more processes on {{ '{{' }} $labels.host {{ '}}' }} within the last 5 minutes."
